@mixin light-black-box($area) {
  grid-area: $area;
  background-color: $light-black;
  color: $white;
}

@mixin flex-prop($content, $items) {
  display: flex;
  justify-content: $content;
  align-items: $items;
}

@mixin margin-padding($margin: 1, $padding: 1) {
  @if $margin == null{
    margin: $margin;
    padding: $padding + rem;
  } @else if ($padding == null) {
    padding: $padding;
    margin: $margin + rem;
  } @else {
    margin: $margin + rem;
    padding: $padding + rem;
  }
}
